extends ../../layout

block content
	p= message

	h1= title

	form(action='/course', method='post', class='k-content')
		div
			label(for='name')
				| Name:
				input#name(type='text', name='name')

		div
			label(for='year')
				| Year:
				input#year(type='text', name='year', 
					value= new Date().getFullYear())

		div
			label(for='students')
				| Students:
				select(name='students')
					each student in users
						option(value='#{student.id}') #{student.firstname} #{student.lastname}

		div#allStudents
		div#studentsInCourse

		div
				input(class="k-button", type='submit', value='Create Course')

		script
			var alphabeticallyOrderedStudents = new kendo.data.HierarchicalDataSource({
				transport: {
					read: {
						url: '/api/students/az/4',
						dataType: 'json'
					}
				},
				schema: {
					model: {
						children: 'categoryItems'
					}
				}
			});

			var studentsInCourse = new kendo.data.HierarchicalDataSource({
				transport: {
					read: {
						url: '/api/students/course/#{course.id}',
						dataType: 'json'
					}
				},
				schema: {
					model: {
						children: 'categoryItems'
					}
				}
			})

			$('#allStudents').kendoTreeView({
				dragAndDrop: true,
				dataSource: alphabeticallyOrderedStudents,
				dataTextField: ['categoryName', 'lastname' ]
			}).data('kendoTreeView');


			$('#studentsInCourse').kendoTreeView({
				dragAndDrop: true,
				dataSource: studentsInCourse,
				dataTextField: ['categoryName', 'lastname' ]
			}).data('kendoTreeView');

			$('#allStudents, #studentsInCourse').data('kendoTreeView').bind('drag', function(e) {
				if($(e.dropTarget).hasClass('k-in')) {
					if($(e.dropTarget).hasClass('k-state-hover')) {
						if($(e.dropTarget).offsetParent().hasClass('k-treeview-lines')) {
							console.log($(e.dropTarget));
						} else {
							e.setStatusClass('k-denied');
						}
					} else {
						e.setStatusClass('k-denied');
					}
				} else {
					e.setStatusClass('k-denied');
				}
				
			});