extends layout

block content
	p= message

	h1= title

	div#loginSignup

		form#login.k-content(action='/login', method='post')
			table
				tr
					th
						label(for='username-login')
							| Username:
					td
						input#username-login.k-textbox(type='text', name='username')

				tr
					th
						label(for='password-login')
							| Password:
					td
						input#password-login.k-textbox(type='password', name='password')

				tr
					td
						&nbsp;
					td.button
						input.k-button(type='submit', value='Log In')

		form#signup.k-content(action='/signup', method='post', data-style='inset')
			table
				tr
					th
						label(for='firstname')
							| Firstname:
					td
						input#firstname.k-textbox(type='text', name='firstname', placeholder='Martin'
							data-bind='value: firstname', pattern="^[A-Za-z-'\\]+$")

				tr
					th
						label(for='lastname')
							| Lastname:
					td
						input#lastname.k-textbox(type='text', name='lastname', placeholder='Mustermann'
							data-bind='value: lastname', pattern="^[A-Za-z-'\\]+$")

				tr
					th
						label(for='username')
							| Username:
					td
						input#username.k-textbox(type='text', name='username',
							data-bind='value: username', pattern="^[a-z0-9_-]{3,16}$")

				tr
					th
						label(for='studentNumber')
							| Student Number:
					td
						input#studentNumber.k-textbox(type='text', name='studentNumber', placeholder='1230004'
							data-bind='value: studentNumber')

				tr
					th
						label(for='emailAddress')
							| Email:
					td
						input#emailAddress.k-textbox(type='email', name='emailAddress', placeholder='martin@mustermann.de'
							data-bind='value: emailAddress')

				tr
					th
						label(for='password')
							| Password:
					td
						input#password.k-textbox(type='password', name='password',
							data-bind='value: password')

				tr
					th
						label(for='passwordConfirm')
							| Repeat Password:
					td
						input#passwordConfirm.k-textbox(type='password', name='passwordConfirm',
							data-bind='value: passwordConfirm')

				tr
					td
						&nbsp;
					td.button
						input.k-button(type='submit', value='Sign Up')

		script

			var signup = kendo.observable({
				firstname: '',
				lastname: '',
				username: '',
				emailAddress: '',
				password: '',
				passwordConfirm: ''
			});

			kendo.bind($('#signup'), signup);
