extends ../../layout

block content

	form#userForm.k-content(action='/user/update', method='post')

		table
			tr
				th
					label(for='user')
						| User:
				td
					input#user.k-textbox(type='text', name='user', required='true')
			tr
				th
					label(for='firstname')
						| Firstname:
				td
					input#firstname.k-textbox(type='text', name='firstname', placeholder='Martin'
						data-bind='value: firstname', pattern="^[A-Za-z-'\\]+$")

			tr
				th
					label(for='lastname')
						| Lastname:
				td
					input#lastname.k-textbox(type='text', name='lastname', placeholder='Mustermann'
						data-bind='value: lastname', pattern="^[A-Za-z-'\\]+$")

			tr
				th
					label(for='username')
						| Username:
				td
					input#username.k-textbox(type='text', name='username',
						data-bind='value: username', pattern="^[a-z0-9_-]{3,16}$")

			tr
				th
					label(for='studentNumber')
						| Student Number:
				td
					input#studentNumber.k-textbox(type='text', name='studentNumber', placeholder='1230004'
						data-bind='value: studentNumber')

			tr
				th
					label(for='emailAddress')
						| Email:
				td
					input#emailAddress.k-textbox(type='email', name='emailAddress', placeholder='martin@mustermann.de'
						data-bind='value: emailAddress')

			tr
				th
					label(for='password')
						| Password:
				td
					input#password.k-textbox(type='password', name='password',
						data-bind='value: password')

			tr
				th
					label(for='passwordConfirm')
						| Repeat Password:
				td
					input#passwordConfirm.k-textbox(type='password', name='passwordConfirm',
						data-bind='value: passwordConfirm')

			tr
				th
					label(for='id')	
				td
					input#_id.k-textbox(type='hidden', name='_id', data-bind='value :_id')	

			tr
				td
					&nbsp;
				td.button
					input.k-button(type='submit', value='Save')
	script
		
		function autoComplete(ele, data) {
			$('#' + ele).kendoAutoComplete({
				dataSource: data,
				filter: 'contains',
				ignoreCase: true,
				dataTextField: 'name',
				placeholder: 'search string...',
				change: function(e) {
					var curData = this.dataItem(this.current().index());
					console.log(curData);
					$('#firstname').val(curData.firstname);
					$('#lastname').val(curData.lastname);
					$('#username').val(curData.username);
					$('#studentNumber').val(curData.studentNumber);
					$('#emailAddress').val(curData.emailAddress);
					this.value('');
				}
			});
		}
		
		autoComplete('user', !{JSON.stringify(users)});