extends ../../layout

block content
	p=message

	h1=title

	a(href='/course/new') Create New Course

	table
		tr
			th
				| Name
			th
				| Year
			th
				| Term
			th
				| Options

		each item in course
			tr
				td
					| #{item.name}
				td
					| #{item.year}
				td
					| #{item.term}
				td
					a(href='/course/view/#{item.id}') view
					a(href='/course/edit/#{item.id}') edit