extends ../../layout

block content
	p= message

	h1= title

	table
		th
			| Name
		th
			| Lecture
		th
			| Year

		each item in exam
			tr
				td
					| #{item.name}
				td
					| #{item.lecture}
				td
					| #{item.date.getFullYear()}
					input(type='hidden', value=item.id, name='id')
