extends ../../layout

block content
	a.k-link(href='/exam/new') Create New Exam

	table
		tr
			th
				| Name
			th
				| Lecture
			th
				| Year
			th
				| Options

		each item in exam
			tr
				td
					| #{item.name}
				td
					| #{item.lecture}
				td
					| #{item.date.getFullYear()}
				td
					a.k-link(href='/exam/view/#{item.id}') view 
					if user.role == ("tutor" || "manager")
						a.k-link(href='/exam/edit/#{item.id}') edit 
						a.k-link(href='/exam/assess/#{item.id}') assess 
						a.k-link(href='/exam/delete/#{item.id}') delete 
