extends ../../layout

block content
	p= message

	h1= title

	form(action='/exam/new', method='post', id='examNew')
		table
			tr
				th
					label(for='name')
						| Name:
				td
					input#name(class='k-textbox', type='text', name='name', required='true')

			tr
				th
					label(for='user')
						| Tutor:
				td
					ul.selections
					input#tutor.k-textbox(type='text', name='tutor')
					
			tr
				th
					label(for='assessor')
						| Accessor:
				td
					ul.selections
					input#assessor.k-textbox(type='text', name='assessor')

			tr
				th
					label(for='course')
						| Course:
				td
					ul.selections
					input#course.k-textbox(type='text', name='course')
					//select(class='k-header', name='course')
					//	each course in courses
					//		option(value='#{course.id}') #{course.name} (#{course.term})

			tr
				th
					label(for='lecture')
						| Lecture:
				td
					input#lecture(class='k-textbox', type='text', name='lecture', required='true')

			tr
				th
					label(for='date')
						| Date: 
				td
					input#date(class='k-textbox', type='date', name='date', required='true')

			tr
				th
					label(for='duration')
						| Duration in minutes: 
				td
					input#duration(class='k-textbox', type='number', name='duration', min='0', value='90', required='true')

			tr
				th
					label(for='maxPoints')
						| Maximum Points: 
				td
					input#maxPoints(class='k-textbox', type='number', name='maxPoints', min='0', required='true')

			tr
				th
					label(for='criteria')
						| Criteria:
				td	
					div.criteria
						input(class='k-textbox', type='text', name='criteria[][name]', required='true', placeholder='Name')
						input(class='k-textbox', type='text', name='criteria[][description]', placeholder='Description')
						input(class='k-textbox', type='number', min='0', name='criteria[][score]', required='true', placeholder='Score')
						br
						input(class='k-textbox', type='text', name='criteria[][subcriteria][0][name]', required='true', placeholder='Name')
						input(class='k-textbox', type='text', name='criteria[][subcriteria][0][description]', placeholder='Description')
						input(class='k-textbox', type='number', min='0', name='criteria[][subcriteria][0][score]', required='true', placeholder='Score')

			tr
				th

				td
					input#addCriteria(class='k-button', type='button', value='+', data-bind='click: addCriteriaFields')
					input#addCriteria(class='k-button', type='button', value='-', data-bind='click: removeCriteria')

			tr
				td
					input(class='k-button', type='submit', value='Save')
				td

		script
			var viewModel = {
				addCriteriaFields : function() {
					var num = $('.criteria').length;
					$('.criteria:last').after(""+
						"<div class='criteria'>"+
							"<input class='k-textbox' type='text' name='criteria["+num+"][name]' placeholder='Name' required='true'>"+
							"<input class='k-textbox' type='text' name='criteria["+num+"][description]' placeholder='Description'>"+
							"<input class='k-textbox' type='number' min='0', name='criteria["+num+"][score]' placeholder='Score' required='true'>"+
						"</div>");
				},
				removeCriteria : function() {
					if($('.criteria').length > 1) {
						$('.criteria:last').remove();
					}
				}
			};
			kendo.bind($("#examNew"), viewModel);

			function autoComplete(ele, data) {
				$('#' + ele).kendoAutoComplete({
					dataSource: data,
					filter: 'contains',
					ignoreCase: true,
					dataTextField: 'name',
					placeholder: 'search string...',
					change: function(e) {
						var selections = $(this.element).parent().prev();
						var curData = this.dataItem(this.current().index());

						selections.append("<li class='removeSelection'>" + curData.name + "<input type='hidden' class='k-textbox' name='course[]' value='" + curData._id + "' /></li>");

						this.value('');
					}
				});
			}


			autoComplete('course', !{JSON.stringify(courses)});
			autoComplete('assessor', !{JSON.stringify(assessors)});
			autoComplete('tutor', !{JSON.stringify(tutors)});

			$('.removeSelection').live('click', function(e){
				$(this).remove();
			});

			$('#date').kendoDateTimePicker();

