extends ../../layout

block content
	p= message

	h1= title

	form(action='/exam/new', method='post')
		div
			// Bezeichnung der Klausur
			label(for='name')
				| Name:
				input#name(type='text', name='name', required='true')

		div
			// Dozent
			// Autocomplete für andere Dozenten
			label(for='user')
				| Tutor:
				input#user(type='text', name='user', required='true', value=(tutor) ? tutor.username : '')

		div
			// Accessor
			// Autocomplete für Accessoren
			label(for='assessor')
				| Accessor:
				select(name='assessor')
					//TODO add all possible accessors
					each assessor in assessors
						option(value='#{assessor.id}') #{assessor.firstname} #{assessor.lastname}

		div
			// Kurs
			// Autocomplete für Kurse
			label(for='course')
				| Course:
				select(name='course')
					//TODO add all courses
					each course in courses
						option(value='#{course.id}') #{course.name} (#{course.term})

		div
			// Fach
			label(for='lecture')
				| Lecture:
				input#lecture(type='text', name='lecture', required='true', value=tutor ? tutor.lecture : '')

		div
			// Datum der Klausur (mit Uhrzeit)
			label(for='date')
				| Date: 
				input#date(type='date', name='date')

		div
			// Dauer der Klausur
			label(for='duration')
				| Duration in minutes: 
				input#duration(type='number', name='duration', min='0', value='90', required='true')

		div
			// Maximale Anzahl der Punkte für diese Arbeit
			label(for='maxPoints')
				| Maximum Points: 
				input#maxPoints(type='number', name='maxPoints', min='0', required='true')

		div
			// Verknüpfte Kriterien für diese Klausur
			label(for='criteria')
				| Criteria:
				//TODO add criteria
				input(type='text', name='criteria[0][name]', required='true')
				input(type='text', name='criteria[0][description]')
				input(type='number', min='0', name='criteria[0][score]', required='true')
				br
				input(type='text', name='criteria[1][name]', required='true')
				input(type='text', name='criteria[1][description]')
				input(type='number', min='0', name='criteria[1][score]', required='true')

		div
			input(type='submit', value='Save')
